@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout_Library.cshtml";
}
<div id="body" class="home">
    <div class="header">
        <img src="~/Images/Lilacs-Book-620x349.png" alt="">
        <div>
            
        </div>
    </div>
    <div class="body">
        
    </div>
    <div class="footer">
        <div>
            
        </div>
    </div>
</div>
