@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout_Library.cshtml";
}
<div id="body">
    <div class="header">
        <div>
            <h1>GIỚI THIỆU</h1>
        </div>
    </div>
    <div class="body">
        <img src="~/Images/about_cover.jpg" alt="">
    </div>
    <div class="footer">
        <div class="sidebar">
            <h1>Thư viện</h1>
            <p>Phòng hành chính-Tổng hợp
            <br/>
                Phòng bổ sung
            <br/>
                Phòng xử lý tài liệu
            </p>
        </div>
        <div class="article">
            <h1>Phòng hành chính-Tổng hợp</h1>
            <p>Phòng Hành chính – Tổng hợp có chức năng tham mưu và giúp Ban Giám đốc quản lý,tổ chức thực hiện các công tác trong lĩnh vực: Hành chính, Tổ chức cán bộ, Tài chính kế toán,Quản trị cơ sở vật chất và Trang thiết bị của cơ quan.</p>
            <p>Thời gian hoạt động:
                <br/>
                - Từ thứ Hai đến thứ Sáu hàng tuần
                <br />
                - Buổi sáng: 7g30 đến 11g30
                <br />
                - Buổi chiều: 13g00 đến 17g</p>
            <h1>Phòng bổ sung</h1>
            <p>Xây dựng chính sách phát triển vốn tài liệu và thực hiện sưu tầm, thu thập, bổ sung, trao đổi và nhận tặng các loại hình tài liệu trong và ngoài nước bằng nhiều hình thức khác nhau phù hợp với tiêu chí, chức năng và nhiệm vụ chung của thư viện, nhằm đáp ứng nhu cầu học tập, nghiên cứu và giải trí của người sử dụng.</p>

            <h1>Phòng xử lý tài liệu</h1>
            <span>Xử lý tài liệu được thư viện bổ sung và sưu tầm từ nhiều nguồn khác nhau.</span>
            <span>Nghiên cứu, triển khai ứng dụng các chuẩn quốc tế và quốc gia về lĩnh vực liên quan.</span>
            <p>Tư vấn, tổ chức tập huấn các chuyên đề về ứng dụng chuẩn quốc tế và quốc gia trong công tác biên mục.</p>
            
        </div>
    </div>
</div>

